body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }

header { background-image: url('prefeitura.png'); padding: 20px; text-align: center; }

header h1 { color: #fff; }

nav { background-color: #f1f1f1; padding: 10px; border-bottom: 1px solid #ddd; }

nav ul { list-style-type: none; margin: 0; padding: 0; }

nav li { display: inline-block; margin-right: 10px; }

nav a { display: block; padding: 5px 10px; color: #333; text-decoration: none; border-radius: 5px; }

nav a:hover { background-color: #ddd; }

section { padding: 20px; }

section h2 { margin-top: 0; }

section p { margin-bottom: 20px; }

section ul { list-style-type: disc; margin-left: 20px; }

section img { max-width: 100%; height: auto; }

footer { background-color: #333; padding: 10px; text-align: center; color: #fff; }
